* {
    margin: auto;
    padding: auto;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgb(7, 17, 2)), url(../img/home-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    padding: 2% 1%;
    justify-content: center;
    align-items: center;
}

.nav-links {
    margin-top: -1%;
    margin-left: 65%;
    flex: 2px;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #00f8df;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px #00f8df;
    background: #00f8df;
    transition: 1s;

}
